package-lock=false
registry=https://npm.cloud4water.com/repository/wpg-npm-3rd/
//npm.cloud4water.com/repository/wpg-npm-public/:_authToken=NpmToken.d1f05f58-4fca-321f-9ec5-c0d6b2884eb9
//npm.cloud4water.com/repository/wpg-npm-3rd/:_authToken=NpmToken.d1f05f58-4fca-321f-9ec5-c0d6b2884eb9
